body{
    font-size: 13pt;
    color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../assets/log.jpg') ;
    
}
.container {
    background-image: url('../assets/log.jpg');
    background-color: rgb(164, 168, 168);
    border-radius: 8px;
    width: 400px;
    height: 360px;
    margin-left: 35%;
    margin-top: 13%;

}
header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    margin-left: 100px;
}

#txtLogin, #txtSenha, #btnEntrar{
    height: 30px;
    font-size: 14pt;
    width: 13rem;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
}

#btnEntrar{
    height: 35px;
    font-size: 14pt;
    width: 13.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#btnEntrar:hover {
    background-color:rgb(13, 150, 2);
}