body {
    margin: 0;
    padding: 0;
    font-size: 15pt;
    font-family: Arial;
    text-align: center;
    background-color: rgb(61, 58, 58);
    display: flex;
    justify-content: center;
    align-items: center;
}
 .container-fora{
   background-color: #575752;
   margin: 0;
   position: absolute;
   width: 400px;
   height: 300px;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%) ;
   color: rgb(233, 227, 227);
   display: block;
   font-size: 1.0em;
   font-weight: 700;
   padding: 8px 10px;
 }

 .container-dentro {
    padding-top: 50px; 
    width: 100%;
    box-sizing: border-box;
    
  
 }

 input{
    /* width: 150px; */
    height: 20px;
    
    
 }

 #dolarlabel {
    margin-right: 4px
 }
 button {
    width: 132px;
    height: 45px;
    font-size: 12pt;
    margin-top: 15px;
    box-sizing: border-box;
    background-color: rgb(245, 239, 240);
    border: none;

 }

.resultado {
    margin: 10px auto;
    max-width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
   
    
}
.resultado img {
   margin-left: 15px
}


form{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:space-between;
   box-sizing: border-box;
   
}

.input-block{
   display: flex;
   flex-direction: row;
   align-items: center;
}
.input-block input{
   justify-content: end;
}

.input-block input,
.input-block label {
   margin-top:10px;
   
}
.moeda input{
   margin-left: 44px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.reais input {
   margin-left: 47px;
}


@media only screen and (max-width: 300px) {
   *{
      box-sizing: border-box;
   }
   .container-fora{
      background-color: #9e9e92;
      margin: 0;
      position: absolute;
      height: 450px;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%) ;
      color: white;
      display: flex;
      flex-direction: column;
      font-size: 1.0em;
      font-weight: 700;
      padding: 8px 10px;
      
   }

   input, label, button {
      display: flex;
      align-items: center;
      
      border-radius: 6px;
      
   }
   

   button,
   label{
     display: flex;
     align-items: center;
     justify-content: center;
     
   }

   .container-dentro {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%) ;
      font-size: 1.0em;
      font-weight: 700;
      padding: 8px 10px;
      background-color: aqua;
      width: 80%;
   }
 }

 