body{
    font-size: 13pt;
    color: azure;
    background-color: rgb(18, 19, 18);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../assets/log.jpg');
   
    
}
.container {
    
    border-radius: 8px;
    width: 400px;
    height: 360px;
    margin-left: 35%;
    margin-top: 3%;

}
header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    margin-left: 100px;
}

#btnSair{
    height: 30px;
    font-size: 14pt;
    width: 12rem;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
}

.label{
    margin-bottom: 50px;
    margin-left: 50px;
}

.labelbv {
    margin-left: 130px;
}
#btnSair:hover {
    background-color:rgb(13, 150, 2);
}
